*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body-blackout {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($m-color, 0.8);
  display: none;

  &--blacked-out {
    display: block;
  }
}

.table-responsive {
  overflow-x: auto;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-width: 2px;
  border-color: $m-color;
  border-radius: 0;
}
