---
title: Дубынин Игорь Викторович


---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="coach">
  <div class="coach__wrapper  coach__wrapper--no-grid">
    <article class="coach__page-article">
      <h2 class="coach__article-title">{{ title }}</h2>
      <div class="coach__degree">
        <p>IV дан Кёкусинкай (IFK)</p>
        <p>1 дан Кобудо (ВФК)</p>
      </div>
      <div class="coach__col-left">
        <div class="coach__photo-slider">
          <div class="coach-photo-item">
            <img src="https://via.placeholder.com/430x412" alt="Описание фото">
          </div>
          <div class="coach-photo-item">
            <img src="https://via.placeholder.com/200x412" alt="Описание фото">
          </div>
          <div class="coach-photo-item">
            <img src="https://via.placeholder.com/412x412" alt="Описание фото">
          </div>
        </div>

        <div class="coach__contacts">
          Контакты:
          <ul>
            <li>VK</li>
            <li>Facebook</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>

      <div class="coach__full-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem rem consectetur.
          Aliquam
          magni sunt, vitae minus alias temporibus incidunt, consequatur architecto, culpa fugit tempore! Nisi culpa
          deserunt rerum fuga!
          Tenetur maiores sunt a odit impedit consequuntur laborum deserunt at iure error assumenda cupiditate ea
          possimus, mollitia magni minima eaque doloribus consectetur ipsum perferendis dignissimos corrupti, quibusdam
          dolore! Provident, quod.
          Ab vero nesciunt in, id ducimus sit voluptatum quod quas exercitationem mollitia facere iure deserunt veniam!
          Fugiat id tenetur, repellendus excepturi sequi sit adipisci iusto iure officia. Aliquid, repellat in.
          Reprehenderit explicabo accusantium commodi nobis fugiat, quam tempore architecto facilis quis nihil doloribus
          tempora aspernatur eligendi sed repudiandae dignissimos animi totam sequi nisi. Esse dolorem vitae ab
          voluptas,
          laborum minima!
          Temporibus, rerum? Amet, voluptas dicta. Possimus et nihil repellat voluptate! Aliquid quos sequi incidunt, ab
          sit at hic rerum atque rem molestias iure voluptatibus consequatur voluptatum neque error sint eveniet.
          Doloribus dolore libero magni accusantium expedita molestiae tempore accusamus voluptatum explicabo numquam
          ratione sint enim iure reiciendis, nam recusandae voluptate fugiat dolor eligendi odit ut id hic sit atque.
          Consequatur?
          Sapiente corporis vero voluptatem magnam libero amet nisi itaque hic excepturi. Voluptatum excepturi incidunt
          commodi aspernatur rerum eligendi. Saepe, sed. Officiis, dignissimos! Officia deserunt necessitatibus quod et,
          iure mollitia facilis.
          Magnam, nobis similique. Pariatur, accusamus fugit veniam excepturi voluptatibus totam dolore aut,
          necessitatibus at voluptatum aliquam quasi reprehenderit earum. Voluptate ratione exercitationem nihil
          explicabo, amet quam distinctio fugit ea ipsum.
          Laboriosam dolores, consequatur debitis esse hic a perspiciatis. Maiores, praesentium nulla in facere dicta
          neque. Ut officia id nobis rem consequuntur repellendus sunt possimus, ipsam, distinctio, necessitatibus nam
          nisi expedita.
          Voluptas, mollitia sit, exercitationem molestias nostrum ipsam in, quae laborum autem saepe architecto est!
          Ratione doloribus obcaecati nostrum quis delectus iure, unde ad consequuntur, velit ex rem aut officia
          accusantium.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem rem consectetur.
          Aliquam
          magni sunt, vitae minus alias temporibus incidunt, consequatur architecto, culpa fugit tempore! Nisi culpa
          deserunt rerum fuga!
          Tenetur maiores sunt a odit impedit consequuntur laborum deserunt at iure error assumenda cupiditate ea
          possimus, mollitia magni minima eaque doloribus consectetur ipsum perferendis dignissimos corrupti, quibusdam
          dolore! Provident, quod.
          Ab vero nesciunt in, id ducimus sit voluptatum quod quas exercitationem mollitia facere iure deserunt veniam!
          Fugiat id tenetur, repellendus excepturi sequi sit adipisci iusto iure officia. Aliquid, repellat in.
          Reprehenderit explicabo accusantium commodi nobis fugiat, quam tempore architecto facilis quis nihil doloribus
          tempora aspernatur eligendi sed repudiandae dignissimos animi totam sequi nisi. Esse dolorem vitae ab
          voluptas,
          laborum minima!
          Temporibus, rerum? Amet, voluptas dicta. Possimus et nihil repellat voluptate! Aliquid quos sequi incidunt, ab
          sit at hic rerum atque rem molestias iure voluptatibus consequatur voluptatum neque error sint eveniet.
          Doloribus dolore libero magni accusantium expedita molestiae tempore accusamus voluptatum explicabo numquam
          ratione sint enim iure reiciendis, nam recusandae voluptate fugiat dolor eligendi odit ut id hic sit atque.
          Consequatur?
          Sapiente corporis vero voluptatem magnam libero amet nisi itaque hic excepturi. Voluptatum excepturi incidunt
          commodi aspernatur rerum eligendi. Saepe, sed. Officiis, dignissimos! Officia deserunt necessitatibus quod et,
          iure mollitia facilis.
          Magnam, nobis similique. Pariatur, accusamus fugit veniam excepturi voluptatibus totam dolore aut,
          necessitatibus at voluptatum aliquam quasi reprehenderit earum. Voluptate ratione exercitationem nihil
          explicabo, amet quam distinctio fugit ea ipsum.
          Laboriosam dolores, consequatur debitis esse hic a perspiciatis. Maiores, praesentium nulla in facere dicta
          neque. Ut officia id nobis rem consequuntur repellendus sunt possimus, ipsam, distinctio, necessitatibus nam
          nisi expedita.
          Voluptas, mollitia sit, exercitationem molestias nostrum ipsam in, quae laborum autem saepe architecto est!
          Ratione doloribus obcaecati nostrum quis delectus iure, unde ad consequuntur, velit ex rem aut officia
          accusantium.</p>
      </div>
    </article>

    <div class="coach__groups  coach__groups--full">
      <ul class="coach__groups-list">
        <li class="coach__groups-item">
          <div class="coach__groups-picture">
            <img src="img/groups/group-1.jpg" width="212" height="212" alt="Фотография для превью">
          </div>
          <div class="coach__groups-text">
            <h4><i>Группа №2</i> ОФП - каратэ</h4>
            <p>Группа общефизической подготовки (ОФП-каратэ) для детей дошкольного и младшего школьного возраста (5-7
              лет) на базе кёкусинкай каратэ. В программе: упражнения на развитие физических качеств детей (ловкость,
              координация, гибкость), знакомство с историей каратэ, изучение правил этикета и общей терминологии,
              подготовка к последующему обучению в основных группах по отделениям Кёкусинкай, Кобудо, Дзю-дзюцу; </p>
          </div>
          <div class="coach__groups-btn">
            <a class="popup-trigger  learn-more" data-popup-trigger="form" href="#">ЗАПИСАТЬСЯ!</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
