---
title: Главная страница
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="hero">
  <div class="hero__wrapper">
    <article class="hero__article" data-aos="zoom-in" data-aos-duration="1500">
      <h2>КЕКУСИНКАЙ</h2>
      <ul class="hero__logos-list">
        <li class="hero__logos-item">
          <img src="img/logos/ifk-logo.svg" width="120" height="120" loading="lazy" alt="Логотип IFK">
        </li>
        <li class="hero__logos-item">
          <img src="img/logos/akr-logo.svg" width="108" height="123" loading="lazy" alt="Логотип АКР">
        </li>
        <li class="hero__logos-item">
          <img src="img/logos/fkr-logo.svg" width="120" height="120" loading="lazy" alt=" Логотип ФКР">
        </li>
        <li class="hero__logos-item">
          <img src="img/logos/mfk-logo.svg" width="115" height="122" loading="lazy" alt="Логотип МФК">
        </li>
      </ul>
      <p>Центр боевых искусств и спорта «МАРС» осуществляет педагогическуюи спортивную деятельность по версии <a
          href="#">IFK</a> под организационным и методическим руководством Федерации Кёкусинкай России (ФКР) и
        Московской Федерации Кёкусинкай (МФК).</p>
    </article>
    <img src="img/main-slider/kanzi.svg" width="135" height="348" alt="Символ канзи" loading="lazy" class="hero__logo">
  </div>
</section>

<section class="story">
  <div class="story__wrapper">
    <article class="story__article">
      <div class="story__media">
        <iframe src="https://www.youtube.com/embed/LKcKXyHCgs4" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="story__text" data-aos="zoom-in" data-aos-duration="1500">
        <p>Стиль каратэ Кёкусинкай (Киокусинкай, Киокушинкай) был создан в 50-х годах прошлого века мастером <a
            href="#">Масутацу Оямой</a> как альтернатива принципу «каратэ без контакта». Мощь и эффективность техники,
          система подготовки Кёкусинкай возродила каратэ как воинское искусство и сделали его исключительно популярным
          далеко за пределами Японии. Кёкусинкай является не просто спортом, но опираясь на заложенную в нем основателем
          стиля систему воспитания воспитывает в человеке уважение к окружающим, достойное поведение в зале и за его
          пределами, убеждения в том, что сила тела и духа приходит от постоянного преодоления своей слабости, вызова
          своим пределам и упорного труда.</p>
        <a href="#" class="learn-more">ИСТОРИЯ СТИЛЯ</a>
      </div>
    </article>
  </div>
</section>

<section class="coaches">
  <div class="coaches__wrapper">
    <h2 class="coaches__title">Тренеры-наставники <span>КЕКУСИНКАЙ</span></h2>
  </div>
  <ul class="coaches__list">
    <li class="coaches__item coach" data-aos="fade-up">
      <div class="coach__wrapper">
        <div class="coach__info">
          <div class="coach__photo">
            <img src="img/coaches/coach-1.jpg" width="215" height="215" loading="lazy" alt="Фотография тренера">
          </div>
          <h3><span>Дубынин</span> Игорь Викторович</h3>
          <p>сэнсей, IV дан <br>
            опыт работы 42 года</p>
        </div>
        <div class="coach__text">
          <p>Педагог высшей категории. Заслуженный наставник РСБИ. Черный пояс Кекусинкай IFK (4 дан), судья первой
            категории. Занимается боевыми искусствами с 1969 года, каратэ с 1982 года, Кёкусинкай с 1993 года, кандидат
            в мастера спорта по рукопашному бою, участник Чемпионатов России, призер Первенств Вооруженных Сил и
            Первенств округов г. Москвы по Кекусинкай, член Президиума Московской Федерации Кекусинкай, победитель
            конкурса авторских программ дополнительного образования г. Москвы в 2007 г. Кандидат технических наук,
            специалист в области информационных технологий и автоматизации военной медицины. Полковник ВС РФ в запасе.
          </p>
        </div>
        <div class="coach__groups">
          <ul>
            <li>
              <h4><a href="#"><i>Группа №2</i> базовое обучение</a></h4>
              <p>В программе: изучение базовой техники кёкусинкай, изучение основ ведения спортивного поединка, участие
                в соревнованиях в разделах кумитэ и ката кёкусинкай. 2-4 год обучения.</p>
            </li>
            <li>
              <h4><a href="#"><i>Группа №3</i> цветные пояса</a></h4>
              <p>В программе: изучение и совершенствование базовой техники кёкусинкай и ведения спортивного поединка,
                изучение приёмов самообороны, участие в соревнованиях в разделах кумитэ и ката. 3-8 год обучения. </p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="coaches__item coach" data-aos="fade-up">
      <div class="coach__wrapper">
        <div class="coach__info">
          <div class="coach__photo">
            <img src="img/coaches/coach-2.jpg" width="215" height="215" loading="lazy" alt="Фотография тренера">
          </div>
          <h3><span>Определенов</span> Владимир Викторович</h3>
          <p>сэмпай, II дан<br>
            опыт работы 20 лет</p>
        </div>
        <div class="coach__text">
          <p>Член президиума МФК. Педагог высшей категории (2007). Черный пояс Кекусинкай IFK (2 дан, 2016), судья
            первой категории. Занимается боевыми искусствами с 1995 года. Призер первенства Москвы по кумитэ (1999) и
            чемпионата Вооруженных Сил РФ по кумитэ (2000). Опыт занятий и открытых ковров самбо и боевого самбо
            (1999-2005). Победитель конкурса авторских программ дополнительного образования г. Москвы в 2007 г.
            Специалист в области информационных технологий в сфере кульутры. Заместитель директора Пушкинского музея по
            цифровому развитию (CDTO), заведующий кафедрой информационных технологий в сфере культуры Высшей школы
            бизнеса НИУ ВШЭ. </p>
        </div>
        <div class="coach__groups">
          <ul>
            <li>
              <h4><a href="#"><i>Группа №4</i> взрослые</a></h4>
              <p>Группа начального и базового обучения для взрослых. В программе: изучение базовой техники кёкусинкай,
                основ ведения спортивного поединка, изучение приёмов самообороны и основ ведения рукопашного боя.
                Элементы Ицюань-цигун. Силовой и функциональный тренинг.</p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="coaches__item coach" data-aos="fade-up">
      <div class="coach__wrapper">
        <div class="coach__info">
          <div class="coach__photo">
            <img src="img/coaches/coach-3.jpg" width="215" height="215" loading="lazy" alt="Фотография тренера">
          </div>
          <h3><span>Угольников</span> Михаил Владимирович</h3>
          <p>сэмпай, I дан<br>
            опыт работы 17 лет</p>
        </div>
        <div class="coach__text">
          <p>Черный пояс Кекусинкай IFK (1 дан, 2018). Инструктор клуба Лефортово с 2004 года. Призер чемпионатов Москвы
            и ЦФО РФ по ката (2008—2009 гг). Опыт занятий самбо (1999—2003), кудо. Умеет рисовать некрасивые стрелки на
            сайтах.</p>
        </div>
        <div class="coach__groups">
          <ul>
            <li>
              <h4><i>Группа №2</i> начальное обучение</h4>
              <p>В программе: обучение начальной базовой технике кёкусинкай каратэ. Общефизическая и специальная
                физическая подготовка. Основы спарринговой техники. 1-2 год обучения.</p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="coaches__item coach" data-aos="fade-up">
      <div class="coach__wrapper">
        <div class="coach__info">
          <div class="coach__photo">
            <img src="img/coaches/coach-4.jpg" width="215" height="215" loading="lazy" alt="Фотография тренера">
          </div>
          <h3><span>Фикс</span> Элизабет Сергеевна</h3>
          <p>сэмпай, I дан<br>
            опыт работы 5 лет</p>
        </div>
        <div class="coach__text">
          <p>Мастер спорта по киокусинкай. Выпускник Самбо-70. Победитель чемпионата мира по каратэ киокусинкай KWU
            2019. Многократный победитель и призёр Чемпионатов и Первенств Москвы, ЦФО, России (годы???).</p>
        </div>
        <div class="coach__groups">
          <ul>
            <li>
              <h4><i>Группа №2</i> ОФП - каратэ</h4>
              <p>Группа общефизической подготовки (ОФП-каратэ) для детей дошкольного и младшего школьного возраста (5-7
                лет) на базе кёкусинкай каратэ. В программе: упражнения на развитие физических качеств детей (ловкость,
                координация, гибкость), знакомство с историей каратэ, изучение правил этикета и общей терминологии,
                подготовка к последующему обучению в основных группах по отделениям Кёкусинкай, Кобудо, Дзю-дзюцу; </p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="structure">
  <div class="structure__wrapper">
    <h2 class="structure__title">Учебные группы <span>КЕКУСИНКАЙ</span></h2>

    <ul class="structure__list">
      <li class="structure__item" data-aos="flip-left" data-aos-duration="500">
        <div class="structure__pic"><img src="img/groups/group-1.jpg" width="212" height="212"
            alt="Фотография для превью"></div>
        <h3>Группа №5 <br>
          ОФП-каратэ</h3>

        <p>Вторник <br>
          17:00 – 18:00</p>

        <p>Суббота<br>
          10:00 – 11:00</p>

        <a href="#" class="learn-more">ЗАПИСАТЬСЯ!</a>
      </li>
      <li class="structure__item" data-aos="flip-left" data-aos-duration="500">
        <div class="structure__pic"><img src="img/groups/group-2.jpg" width="212" height="212"
            alt="Фотография для превью"></div>
        <h3>Группа №1 <br>
          Начальное обучение</h3>

        <p>Вторник <br>
          17:00 – 18:00</p>

        <p>Суббота<br>
          10:00 – 11:00</p>

        <a href="#" class="learn-more">ЗАПИСАТЬСЯ!</a>
      </li>
      <li class="structure__item" data-aos="flip-left" data-aos-duration="500">
        <div class="structure__pic"><img src="img/groups/group-3.jpg" width="212" height="212"
            alt="Фотография для превью"></div>
        <h3>Группа №2 <br>
          Базовое обучение</h3>

        <p>Понедельник <br>
          18:00 – 19:30</p>

        <p>Среда<br>
          18:00 – 19:30</p>

        <a href="#" class="learn-more">ЗАПИСАТЬСЯ!</a>
      </li>
      <li class="structure__item" data-aos="flip-left" data-aos-duration="500">
        <div class="structure__pic"><img src="img/groups/group-4.jpg" width="212" height="212"
            alt="Фотография для превью"></div>
        <h3>Группа №3 <br>
          Цветные пояса</h3>

        <p>Понедельник <br>
          19:45 – 21:30</p>

        <p>Четверг<br>
          19:45 – 21:30</p>

        <a href="#" class="learn-more">ЗАПИСАТЬСЯ!</a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
