---
title: Зал
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="hero" style="background-image: url('img/history-bg.jpg');">
  <div class="hero__wrapper">
    <article class="hero__article" data-aos="zoom-in" data-aos-duration="1500">
      <h2>ЦБИС МАРС</h2>
      <h3>Зал</h3>
    </article>
  </div>
</section>

<section class="story">
  <section class="gallery-slider">
    <div class="gallery-slider__item">
      <img src="/img/gym.jpg" alt="">
    </div>
    <div class="gallery-slider__item">
      <img src="/img/gym.jpg" alt="">
    </div>
    <div class="gallery-slider__item">
      <img src="/img/gym.jpg" alt="">
    </div>
    <div class="gallery-slider__item">
      <img src="/img/gym.jpg" alt="">
    </div>
    <div class="gallery-slider__item">
      <img src="/img/gym.jpg" alt="">
    </div>
  </section>
  <div class="story__wrapper">
    <article class="story__article">
      <div class="story__photo  story__photo--planets-bg">
        <figure data-aos="fade-right" data-aos-duration="800">
          <img src="img/oyama.png" alt="Фотография Масутацу Ояма">
          <figcaption>
            <h3>Масутацу Ояма</h3>
            <p>27 июля 1923, Кунсан — 26 апреля 1994, Токио</p>
          </figcaption>
        </figure>
      </div>
      <div class="story__text" data-aos="fade-left" data-aos-duration="800">
        <p>Масутацу Ояма (яп. 大山 倍達 О:яма Масутацу) (27 июля 1923, Кунсан — 26 апреля 1994, Токио) — мастер и
          преподаватель карате, один из самых знаменитых представителей боевых искусств, обладатель 10 дана, создатель
          стиля Кёкусинкай, популяризатор карате в Японии и других странах, автор большого количества популярных книг о
          карате, организатор национальных и мировых спортивных соревнований по карате. Основав свой стиль, быстро
          завоевавший славу «сильнейшего карате», Ояма создал и до своей смерти в 1994 году возглавлял Международную
          организацию Кёкусинкай (IKO), членами которой стали несколько миллионов человек во всём мире.</p>

        <h4>В настоящее время в Кёкусинкай занимается более 10 млн. человек более чем в 120 странах </h4>

        <p>Масутацу Ояму можно назвать одним из самых выдающихся популяризаторов боевых искусств. В 50-х годах он
          совершил
          несколько зарубежных поездок, в ходе которых организовывал показательные выступления с демонстрацией техники
          карате и тамэсивари, проводил показательные бои. Благодаря пропагандистской деятельности Ояме удалось в
          сравнительно сжатые сроки создать одну из крупнейших организаций — Международную организацию карате (IKO).</p>
      </div>

      <div class="text__subtitle">
        <p>«Следовать путем воина-все равно, что <br> без отдыха взбираться по отвесной скале»</p>
      </div>

      <div class="story__text" data-aos="fade-right">
        <p>Масутацу Ояма (яп. 大山 倍達 О:яма Масутацу) (27 июля 1923, Кунсан — 26 апреля 1994, Токио) — мастер и
          преподаватель карате, один из самых знаменитых представителей боевых искусств, обладатель 10 дана, создатель
          стиля Кёкусинкай, популяризатор карате в Японии и других странах, автор большого количества популярных книг о
          карате, организатор национальных и мировых спортивных соревнований по карате. Основав свой стиль, быстро
          завоевавший славу «сильнейшего карате», Ояма создал и до своей смерти в 1994 году возглавлял Международную
          организацию Кёкусинкай (IKO), членами которой стали несколько миллионов человек во всём мире.</p>

        <h4>В настоящее время в Кёкусинкай занимается более 10 млн. человек более чем в 120 странах </h4>

        <p>Масутацу Ояму можно назвать одним из самых выдающихся популяризаторов боевых искусств. В 50-х годах он
          совершил несколько зарубежных поездок, в ходе которых организовывал показательные выступления с демонстрацией
          техники карате и тамэсивари, проводил показательные бои. Благодаря пропагандистской деятельности Ояме удалось
          в сравнительно сжатые сроки создать одну из крупнейших организаций — Международную организацию карате (IKO).
        </p>
      </div>

      <div class="story__media">
        <iframe src="https://www.youtube.com/embed/LKcKXyHCgs4" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </article>
  </div>
</section>


{% endblock %}
