---
title: Главная страница
---
{% extends "../templates/layouts/_layout.html" %}

{% block content %}


<section class="main-slider">
  <div class="main-slider__wrapper">
    <div class="main-slider__slider swiper">
      <div class="swiper-wrapper">
        <div class="main-slider__slide  swiper-slide">
          <div class="main-slider__slide-column  main-slider__slide-column--left">
            <h2>КЕКУ <br> СИН <br> КАЙ</h2>
          </div>
          <img class="main-slider__pic" src="img/illustr_01_karate.svg" alt="">
          <div class="main-slider__slide-column">
            <img src="img/main-slider/kanzi.svg" width="145" alt="">
            <div class="main-slider__slide-text">
              <p>Стиль каратэ Кёкусинкай (Киокусинкай, Киокушинкай) был создан в 50-х годах прошлого века мастером
                Масутацу Оямой как альтернатива принципу «каратэ без контакта». Мощь и эффективность техники, система
                подготовки Кёкусинкай возродила каратэ как воинское искусство. </p>
            </div>
          </div>
        </div>
        <div class="main-slider__slide  swiper-slide">
          <div class="main-slider__slide-column  main-slider__slide-column--left">
            <h2>ДЗЮ— <br> ДЗЮ <br> ЦУ</h2>
          </div>
          <img class="main-slider__pic" src="img/illustr_04_jiujitsu.svg" alt="">
          <div class="main-slider__slide-column">
            <div class="main-slider__slide-text">
              <p>Термин "дзю-дзюцу" переводится как "мягкая, поддатливая техника", то есть мастер уступает натиску
                противника до тех пор, пока тот не окажется в ловушке, после чего обращает действия врага против него
                самого.</p>
            </div>
            <img src="img/main-slider/dzu-dzu.svg" width="145" alt="">
          </div>
        </div>
        <div class="main-slider__slide  swiper-slide">
          <div class="main-slider__slide-column  main-slider__slide-column--left">
            <h2>и— <br> цю <br> ань</h2>
          </div>
          <img class="main-slider__pic" src="img/illustr_03_kobudo.svg" alt="">
          <div class="main-slider__slide-column">
            <img src="img/main-slider/iquan.svg" width="145" alt="">
            <div class="main-slider__slide-text">
              <p>Ицюань — это система боевых искусств, относящаяся к внутренним стилям. Кроме того, это отличный способ
                для совершенствования здоровья и умения развивать силу мысли. Ицюань был создан Ван Сянчжаем (1885-1963),
                одним из самых известным мастеров Китайских боевых искусств.</p>
            </div>
          </div>
        </div>
        <div class="main-slider__slide  swiper-slide">
          <div class="main-slider__slide-column  main-slider__slide-column--left">
            <h2>КО <br> БУ <br> ДО</h2>
          </div>
          <img class="main-slider__pic" src="img/illustr_04_jiujitsu.svg" alt="">
          <div class="main-slider__slide-column">
            <div class="main-slider__slide-text">
              <p>Кобудо в переводе с японского — старый военный путь. Кобудо тесно связано с традициями самураев, включает
                в себя работу с японскими и окинавскими видами оружия, самооборону тайхо-дзюцу.</p>
            </div>
            <img src="img/main-slider/kobudo.svg" width="145" alt="">
          </div>
        </div>
      </div>

      <button class="main-slider__slider-arrow  main-slider__slider-arrow--prev">
        <svg width="88" height="35" xmlns="http://www.w3.org/2000/svg">
          <use href="/img/sprite.svg#main-slider__arrow-left" />
        </svg>
      </button>
      <button class="main-slider__slider-arrow  main-slider__slider-arrow--next">
        <svg width="88" height="35" xmlns="http://www.w3.org/2000/svg">
          <use href="/img/sprite.svg#main-slider__arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>


{% endblock %}
