---
title: Чемпионат города Москвы среди мужчин и женщин


---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}


<section class="news-page">
  <div class="news-page__wrapper">
    <article class="news-page__article">
      <div class="news-page__header">
        <h2 class="news__page-title">{{ title }}</h2>
        <time class="news__page-title-date" datetime="30.01.2021">30 января 2021</time>
      </div>
      <div class="news-page__main-text">
        <div class="news__page-col-left">
          <div class="news-page__slider">
            <div class="news-page__slider-item">
              <a data-fancybox="gallery" href="/img/169_foto_1_01.jpg">
                <img src="/img/169_foto_1_01.jpg" loading="lazy" alt="">
              </a>
            </div>
            <div class="news-page__slider-item">
              <a data-fancybox="gallery" href="/img/169_foto_2_01.jpg">
                <img src="/img/169_foto_2_01.jpg" loading="lazy" alt="">
              </a>
            </div>
            <div class="news-page__slider-item">
              <a data-fancybox="gallery" href="/img/169_foto_3_01.jpg">
                <img src="/img/169_foto_3_01.jpg" loading="lazy" alt="">
              </a>
            </div>
          </div>

          <ul class="document-list">
            <li><a href="#">Справка Чемпионат</a>
            <li><a href="#">Протоколы Чемпионат</a>
            <li><a href="#">Справка Первенство</a>
            <li><a href="#">Протоколы Первенство</a>
            <li><a href="#">Список судей</a>
            <li><a href="#">Протоколы Надежды Москвы</a>
            <li><a href="#">Протоколы дивизионы В и С, Будо Фестиваль</a>
          </ul>
        </div>

        <div class="news__page-col-right">
          <div class="news-page__text-block">
            <p>30 января 2021 года в ГАУ "СШОР "МЦБИ" Москомспорта состоялись Чемпионат города Москвы среди мужчин и
              женщин (18 лет и старше) и Первенство города Москвы среди мальчиков и девочек (10-11 лет), юношей и
              девушек (12-13 лет, 14-15 лет), юниоров и юниорок (16-17 лет), а также соревнования "Надежды Москвы" среди
              мальчиков и девочек 8-9 лет и мужчин и женщин по киокусинкай (кёкусин-ката, кёкусин-ката-группа).</p>


            <p>Поздравляем победителей и призеров!</p>

            <p><a href="#">Фотоотчет</a> и протоколы будут размещены в ближайшее время.</p>

            <p><strong>Региональные соревнования «Надежды Москвы» по киокусинкай</strong></p>

            <p>Мальчики 8-9 лет "Кёкусин-ката"</p>
            <ul>
              <li>
                <p>1 место Холодов Елисей Николаевич (Клуб "Карелия" )</p>
              </li>
              <li>
                <p>2 место Смелков Артем Александрович (МБОУ "ЦТДиЮ")</p>
              </li>
              <li>
                <p>3 место Гопаненко Кирилл Ильич (Центр)</p>
              </li>
            </ul>

            <p>Девочки 8-9 лет "Кёкусин-ката"</p>
            <ul>
              <li>
                <p>1 место Титаренко Ирина Алексеевна (Северный)</p>
              </li>
              <li>
                <p>2 место Лёвина Мария Александровна (СК "КЁКУСИН")</p>
              </li>
              <li>
                <p>3 место Скоробогатая Марта Дмитриевна (Бусидо Мон)</p>
              </li>
            </ul>

            <p>Мужчины и женщины 6-3 кю "Кёкусин-ката"</p>
            <ul>
              <li>
                <p>1 место Смирнов Геннадий Геннадьевич (Бусидо Мон)</p>
              </li>
              <li>
                <p>2 место Любимая Кристина Валериевна (Бусидо Мон)</p>
              </li>
            </ul>

            <p>30 января 2021 года в ГАУ "СШОР "МЦБИ" Москомспорта состоялись Чемпионат города Москвы среди мужчин и
              женщин
              (18 лет и старше) и Первенство города Москвы среди мальчиков и девочек (10-11 лет), юношей и девушек
              (12-13
              лет, 14-15 лет), юниоров и юниорок (16-17 лет), а также соревнования "Надежды Москвы" среди мальчиков и
              девочек 8-9 лет и мужчин и женщин по киокусинкай (кёкусин-ката, кёкусин-ката-группа). 30 января 2021 года
              в
              ГАУ "СШОР "МЦБИ" Москомспорта состоялись Чемпионат города Москвы среди мужчин и женщин (18 лет и старше) и
              Первенство города Москвы среди мальчиков и девочек (10-11 лет), юношей и девушек (12-13 лет, 14-15 лет),
              юниоров и юниорок (16-17 лет), а также соревнования "Надежды Москвы" среди мальчиков и девочек 8-9 лет и
              мужчин и женщин по киокусинкай (кёкусин-ката, кёкусин-ката-группа). 30 января 2021 года в ГАУ "СШОР "МЦБИ"
              Москомспорта состоялись Чемпионат города Москвы среди мужчин и женщин (18 лет и старше) и Первенство
              города
              Москвы среди мальчиков и девочек (10-11 лет), юношей и девушек (12-13 лет, 14-15 лет), юниоров и юниорок
              (16-17 лет), а также соревнования "Надежды Москвы" среди мальчиков и девочек 8-9 лет и мужчин и женщин по
              киокусинкай (кёкусин-ката, кёкусин-ката-группа).</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>


{% endblock %}
