---
title: Дубынин Игорь Викторович


---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    <article class="textpage__article">
      <h1>Заголовок H1</h1>
      <h2>Заголовок H2</h2>
      <h3>Заголовок H3</h3>
      <h4>Заголовок H4</h4>
      <h5>Заголовок H5</h5>
      <h6>Заголовок H6</h6>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam nisi
        aliquid, numquam doloremque earum facere animi eveniet corrupti asperiores hic? Ipsum, molestias quaerat! Ad,
        nobis?</p>

      <table>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</td>
        </tr>
      </table>

      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</li>
      </ul>

      <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quia laborum nulla quod, magnam</li>
      </ol>

      <table>
        <tbody>
          <tr>
            <td>ГРУППА</td>
            <td>ВОЗРАСТ</td>
            <td>ВРЕМЯ ЗАНЯТИЙ</td>
            <td>ПЕДАГОГ</td>
          </tr>
          <tr>
            <td colspan="4">ПОНЕДЕЛЬНИК</td>
          </tr>
          <tr>
            <td>Группа №1&nbsp;Начального обучения (1 год)</td>
            <td>8-10 лет</td>
            <td>18:00 &ndash; 19:45</td>
            <td rowspan="2"><a href="#">Дубынин И.В.</a></td>
          </tr>
          <tr>
            <td>Группа №3 Спортивной специализации</td>
            <td>10-18 лет</td>
            <td>19.45 &ndash; 21.30</td>
          </tr>
          <tr>
            <td colspan="4">ВТОРНИК</td>
          </tr>
          <tr>
            <td>Группа №5 (ОФП-каратэ,&nbsp;2 год)</td>
            <td>5-7 лет</td>
            <td>17:00 &ndash; 18:00</td>
            <td><a href="">Фикс Э.С.</a></td>
          </tr>
          <tr>
            <td>Группа №2&nbsp;Базового обучения (2-4 год)</td>
            <td>9-14 лет</td>
            <td>18:15 &ndash; 20:00</td>
            <td>Угольников М.В.</td>
          </tr>
          <tr>
            <td>Группа №7 (Ицюань)</td>
            <td>Взрослые</td>
            <td>20:00 - 21.30</td>
            <td>Шарапов А.С.</td>
          </tr>
          <tr>
            <td colspan="4">СРЕДА</td>
          </tr>
          <tr>
            <td>Группа №1 Начального обучения (1 год)</td>
            <td>8-10 лет</td>
            <td>18:00 - 19:45</td>
            <td>Дубинин И.В.</td>
          </tr>
          <tr>
            <td>Группа №4 (1-8 год)</td>
            <td>Взрослые</td>
            <td>19:45 - 21:30</td>
            <td>
              <p>Крымова Н.В.</p>
              <p>Определенов В.В.</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">ЧЕТВЕРГ</td>
          </tr>
          <tr>
            <td>Группа №6 Кобудо</td>
            <td>7-18 лет</td>
            <td>18.00 &ndash; 19.45</td>
            <td rowspan="2"><a href="">Дубынин И.В.</a></td>
          </tr>
          <tr>
            <td>Группа №3 Спортивной специализации</td>
            <td>10-18 лет</td>
            <td>19:45 &ndash; 21:30</td>
          </tr>
          <tr>
            <td colspan="4">ПЯТНИЦА</td>
          </tr>
          <tr>
            <td>Группа №2 Базового обучения (2-4 год)</td>
            <td>9-14 лет</td>
            <td>17:30 &ndash; 19:15</td>
            <td>Угольников М.В.</td>
          </tr>
          <tr>
            <td>Группа №4 (1-8 год)</td>
            <td>Взрослые</td>
            <td>19:45 &ndash; 21:30</td>
            <td><a href="">Определенов В.В.</a></td>
          </tr>
          <tr>
            <td colspan="4">СУББОТА</td>
          </tr>
          <tr>
            <td>Группа №5 (ОФП-каратэ,&nbsp;2 год)</td>
            <td>5- 7 лет</td>
            <td>10.00 &ndash; 11.00</td>
            <td><a href="">Фикс Э.С.</a></td>
          </tr>
          <tr>
            <td colspan="2">Дополнительное занятие для групп 1 - 4(по отдельному плану в рамках подготовки к
              соревнованиям и показательным выступлениям)</td>
            <td>11.30 -13.00</td>
            <td><a href="">Фикс Э.С.</a>, <a href="">Определенов В.В.</a>, <a href="">Дубынин И.В.</a></td>
          </tr>
        </tbody>
      </table>
    </article>

    <div class="gallery">
      <ul class="gallery__list">
        <li class="gallery__item">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero quibusdam commodi doloremque est
            nemo debitis distinctio dolor soluta aut similique ab voluptate laboriosam magnam sapiente eligendi, aliquam
            at laborum.</p>
        </li>
        <li class="gallery__item">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero quibusdam commodi doloremque est
            nemo debitis distinctio dolor soluta aut similique ab voluptate laboriosam magnam sapiente eligendi, aliquam
            at laborum.</p>
        </li>
        <li class="gallery__item">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero quibusdam commodi doloremque est
            nemo debitis distinctio dolor soluta aut similique ab voluptate laboriosam magnam sapiente eligendi, aliquam
            at laborum.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
