<footer class="footer">
  <div class="footer__title"><a class="popup-trigger" data-popup-trigger="form" href="#">сделай первый шаг</a></div>
  <div class="footer__wrapper">
    <section class="social">
      <ul class="social__list">
        <li class="social__item">
          <a href="https://vk.com/marscenter" target="_blank"><img src="img/social/vk.svg"
              alt="Логотип соц сети вконтакте" width="36" height="36"></a>
        </li>
        <li class="social__item">
          <a href="https://www.facebook.com/moscowmarscenter" target="_blank"><img src="img/social/fb.svg"
              alt="Логотип соц сети facebook" width="36" height="36"></a>
        </li>
        <li class="social__item">
          <a href="https://www.youtube.com/channel/UCiqyyScw1j6Sz7H0U4c2CGQ/" target="_blank"><img
              src="img/social/yt.svg" alt="Логотип канала на youtube" width="36" height="36"></a>
        </li>
        <li class="social__item">
          <a href="https://www.instagram.com/marscenter/" target="_blank"><img src="img/social/inst.svg"
              alt="Логотип профиля в инстаграм" width="36" height="36"></a>
        </li>
        <li class="social__item">
          <a href="https://wa.me/79295639441" target="_blank"><img src="img/social/whatsapp.svg" alt="Логотип whatsapp"
              width="36" height="36"></a>
        </li>
      </ul>
    </section>

    <section class="footer__slogan">
      <img src="img/footer-text.svg" alt="">
    </section>

    <section class="contacts">
      <div class="contacts__address">
        <p>Москва, Красноказарменная ул. 23</p>
      </div>
      <div class="contacts__phone">
        <a href="tel:+79295639441">+7 (929) 563-94-41</a>
      </div>
    </section>
  </div>
</footer>
<div class="body-blackout"></div>

{% include "../partials/_modal-form.html" %}
