<header class="header">
  <div class="header__wrapper  header__wrapper--main">
    <div class="logo">
      <a href="#" class="logo__link">
        <img class="logo__pic" src="img/logo.svg" width="60">
        <h1 class="logo__title">
          <span class="logo__subtitle">Марс</span>
          <span class="logo__text">центр воевых <br> искусств <br>и спорта</span>
        </h1>
      </a>
      <a href="#" class="logo__link  logo__link--school">
        <img class="logo__pic" src="/img/school-logo.jpg" width="60" height="60"
          alt="Логотип центра «Школа «Содружество»">
        <p>на базе ГБОУ г. Москвы <br>
          «Школа «Содружество»</p>
      </a>

      <a href="#" class="logo__link  logo__link--school">
        <img class="logo__pic" src="/img/school-logo.jpg" width="60" height="60"
          alt="Логотип центра «Школа «Содружество»">
        <p>на базе ГБОУ г. Москвы <br>
          «Школа «Содружество»</p>
      </a>
    </div>

    {% include "../partials/_main-nav.html" %}
  </div>

</header>
