.swiper {
  position: relative;

  .swiper-wrapper {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.swiper__button-prev {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) rotate(180deg);
  margin-top: -38px;
  z-index: 100;
  left: 5px;
  cursor: pointer;
}

.swiper__button-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
  margin-top: -38px;
  cursor: pointer;
}

.swiper__pagination {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-top: 30px;

  span {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    background-color: #c81a1a;
    cursor: pointer;
    outline: 0;
    opacity: 1;
    margin: 0;

    &.swiper-pagination-bullet-active {
      background-color: #000;
    }
  }
}
