{% set menu = [
  {
    'menu_item' : 'О центре',
    'menu_link': 'about',
    'menu_item_eng': 'about',
    'menu_link_eng': 'about-eng'
  },
  {
    'menu_item' : 'Стили',
    'menu_link': 'about',
    'menu_item_eng': 'About',
    'menu_link_eng': 'about-eng'
  },
  {
    'menu_item' : 'Расписание',
    'menu_link': 'publications',
    'menu_item_eng': 'Publications',
    'menu_link_eng': 'publications-eng'
  },
  {
    'menu_item' : 'Новости',
    'menu_link': 'news',
    'menu_item_eng': 'Press coverage',
    'menu_link_eng': 'press-eng'
  }
  ]
%}
